<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <clr-icon class="is-solid" size="26" shape="settings"></clr-icon>
            Management
            <clr-icon shape="caret" dir="right"></clr-icon>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Venues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Points</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
        <!-- <li>
          <a href="..." class="nav-link nav-icon" title="User Management">
            <clr-icon shape="users"></clr-icon>Users
        </a>
        </li> -->
        
    </ul>
</nav>