<app-page-title title = "Event List"></app-page-title>
<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Venue</clr-dg-column>

    <clr-dg-row *ngFor="let event of events">
        <clr-dg-cell>{{event.Id}}</clr-dg-cell>
        <clr-dg-cell>{{event.Date | date}}</clr-dg-cell>
        <clr-dg-cell>{{event.Name}}</clr-dg-cell>
        <clr-dg-cell>{{event.Venue.Name}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{events.length}} events</clr-dg-footer>
</clr-datagrid>


